html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.landing-bg {
  background: url("../images/landing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing-bg .grid-container {
  height: 100vh;
}
.landing-bg .grid-container header .sign-in {
  clear: none;
  float: right;
  max-height: none;
  margin-right: 20px;
  margin-top: 10px;
}
.landing-bg .grid-container header .sign-in li a {
  padding: 0;
  border: none;
  background-color: #e50914;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.landing-bg .grid-container header .sign-in li a:hover {
  background-color: rgba(229, 9, 20, 0.7);
}
.landing-bg .grid-container .black-header {
  background: none;
}
.landing-bg .grid-container .welcome-message {
  grid-column: 1/7;
  grid-row: 2/3;
  color: white;
  text-align: center;
  align-items: center;
}
.landing-bg .grid-container .welcome-message h2 {
  margin-top: 1.5%;
  font-size: 3rem;
  font-weight: bold;
}
.landing-bg .grid-container .welcome-message p {
  font-size: 2rem;
  font-weight: 300;
  padding: 1%;
  margin-bottom: 3%;
}
.landing-bg .grid-container .welcome-message a {
  text-decoration: none;
  padding: 0;
  border: none;
  font-size: 1.2rem;
  background-color: #e50914;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.landing-bg .grid-container .welcome-message a:hover {
  background-color: rgba(229, 9, 20, 0.7);
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: white;
}

/* header */
.header {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 20px;
  padding-top: 1rem;
  text-decoration: none;
  color: #e50914;
}
.header .logo:hover {
  color: rgba(229, 9, 20, 0.7);
  transition: 0.2s ease-in-out;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul li a {
  display: block;
  padding: 20px 22px;
  padding-top: 1.2rem;
  border-right: 1px solid rgba(244, 244, 244, 0.2);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.header ul li a:hover {
  background-color: rgba(229, 9, 20, 0.9);
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  border-radius: 5px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 24px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  border-radius: 10px;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    margin-top: 2.45px;
    margin-bottom: 2.5px;
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
}
.login-bg {
  background-color: #171717;
  color: white;
}
.login-bg .grid-container {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}
.login-bg .grid-container h3 {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 10% 20%;
}
.login-bg .grid-container div {
  grid-column: 3/5;
  grid-row: 2/3;
  align-items: center;
  text-align: center;
}
.login-bg .grid-container div form h2 {
  margin-bottom: 3%;
}
.login-bg .grid-container div form input {
  background-color: #5b5f68;
  color: white;
  width: 100%;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  padding-left: 3%;
  margin-top: 4%;
}
.login-bg .grid-container div form ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login-bg .grid-container div form #login-btn {
  margin-top: 5%;
  background-color: #e50914;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.login-bg .grid-container div form #login-btn:hover {
  background-color: rgba(229, 9, 20, 0.7);
}
.login-bg .grid-container div form a {
  font-weight: 300;
  margin-top: 5%;
  color: #e50914;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1px 0;
  position: relative;
}
.login-bg .grid-container div form a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #e50914;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.login-bg .grid-container div form a:hover:after {
  width: 100%;
  left: 0;
}
.login-bg .grid-container div p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 6%;
}
.login-bg .grid-container div p span {
  margin-left: 3%;
}
.login-bg .grid-container div p span a {
  color: #e50914;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1px 0;
  position: relative;
}
.login-bg .grid-container div p span a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #e50914;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.login-bg .grid-container div p span a:hover:after {
  width: 100%;
  left: 0;
}

.signup-bg {
  background-color: #171717;
  color: white;
}
.signup-bg .grid-container {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}
.signup-bg .grid-container h3 {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 10% 20%;
}
.signup-bg .grid-container div {
  grid-column: 3/5;
  grid-row: 2/3;
  align-items: center;
  text-align: center;
}
.signup-bg .grid-container div form h2 {
  margin-bottom: 3%;
}
.signup-bg .grid-container div form input {
  background-color: #5b5f68;
  color: white;
  width: 100%;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  padding-left: 3%;
  margin-top: 4%;
}
.signup-bg .grid-container div form ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.signup-bg .grid-container div form #login-btn {
  margin-top: 5%;
  background-color: #e50914;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.signup-bg .grid-container div form #login-btn:hover {
  background-color: rgba(229, 9, 20, 0.7);
}
.signup-bg .grid-container div form a {
  font-weight: 300;
  margin-top: 5%;
  color: #e50914;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1px 0;
  position: relative;
}
.signup-bg .grid-container div form a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #e50914;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.signup-bg .grid-container div form a:hover:after {
  width: 100%;
  left: 0;
}
.signup-bg .grid-container div p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 6%;
}
.signup-bg .grid-container div p span {
  margin-left: 3%;
}
.signup-bg .grid-container div p span a {
  color: #e50914;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1px 0;
  position: relative;
}
.signup-bg .grid-container div p span a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #e50914;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.signup-bg .grid-container div p span a:hover:after {
  width: 100%;
  left: 0;
}

.profile-bg {
  background-color: #171717;
  color: white;
}
.profile-bg .grid-container {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}
.profile-bg .grid-container h3 {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 10% 20%;
}
.profile-bg .grid-container div {
  grid-column: 1/7;
  grid-row: 2/3;
  align-items: center;
  text-align: center;
  display: inline-block;
}
.profile-bg .grid-container div h2 {
  margin-bottom: 3%;
}
.profile-bg .grid-container div div {
  cursor: pointer;
  margin: 0 2%;
}
.profile-bg .grid-container div div i {
  font-size: 5rem;
}
.profile-bg .grid-container div div p {
  margin-top: 15%;
}
.profile-bg .grid-container div div:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s ease-in-out;
}
.profile-bg .grid-container .manage-profile-btn {
  grid-column: 3/5;
  grid-row: 3/4;
  height: 45px;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: #e50914;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10%;
  margin-bottom: 48%;
}
.profile-bg .grid-container .manage-profile-btn:hover {
  background-color: rgba(229, 9, 20, 0.7);
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
}
body .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
}
body .grid-container header {
  grid-column: 1/7;
}
body .grid-container .landing {
  width: 100%;
  grid-column: 1/7;
}
body .grid-container .landing img {
  width: 100%;
  height: 350px;
}

body .grid-container .copyright {
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .login-bg .grid-container h3 {
    padding: 10% 20%;
  }
}
@media only screen and (max-width: 992px) {
  .login-bg .grid-container {
    grid-template-rows: repeat(6, 1fr);
  }
  .login-bg .grid-container h3 {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 10% 25%;
  }
  .login-bg .grid-container div {
    grid-column: 2/6;
    grid-row: 2/6;
  }
}
@media only screen and (max-width: 768px) {
  .login-bg .grid-container {
    grid-template-columns: 1fr;
  }
  .login-bg .grid-container h3 {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 7% 25%;
  }
  .login-bg .grid-container div form {
    margin: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .signup-bg .grid-container h3 {
    padding: 10% 20%;
  }
}
@media only screen and (max-width: 992px) {
  .signup-bg .grid-container {
    grid-template-rows: repeat(6, 1fr);
  }
  .signup-bg .grid-container h3 {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 10% 25%;
  }
  .signup-bg .grid-container div {
    grid-column: 2/6;
    grid-row: 2/6;
  }
}
@media only screen and (max-width: 768px) {
  .signup-bg .grid-container {
    grid-template-columns: 1fr;
  }
  .signup-bg .grid-container h3 {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 7% 25%;
  }
  .signup-bg .grid-container div form {
    margin: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .profile-bg .grid-container h3 {
    padding: 10% 20%;
  }
  .profile-bg .grid-container .manage-profile-btn {
    grid-column: 3/5;
    grid-row: 3/4;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 992px) {
  .profile-bg .grid-container {
    grid-template-rows: repeat(6, 1fr);
  }
  .profile-bg .grid-container h3 {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 10% 25%;
  }
  .profile-bg .grid-container div h2 {
    margin-bottom: 6%;
  }
  .profile-bg .grid-container div div {
    margin: 0 3%;
  }
  .profile-bg .grid-container .manage-profile-btn {
    grid-column: 2/6;
    grid-row: 4/5;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 768px) {
  .profile-bg .grid-container {
    grid-template-columns: 1fr;
  }
  .profile-bg .grid-container h3 {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 7% 25%;
  }
  .profile-bg .grid-container div h2 {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .profile-bg .grid-container div div {
    margin: 0 5%;
  }
  .profile-bg .grid-container .manage-profile-btn {
    grid-column: 1/6;
    grid-row: 4/5;
    margin: 0 5%;
  }
}

/*# sourceMappingURL=master.css.map */
