body {
    
    .grid-container {

        .copyright {
            width: 100%;
            color: white;
            font-size: 14px;
            font-weight: lighter;
            text-align: center;
            align-items: center;
            position: absolute;
            bottom: 15px;
        }
    }
}