body {
    height: 100vh;
    background-image: linear-gradient(purple, grey);
    background-repeat: no-repeat;

    // .grid-container {
    //     display: grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     grid-template-rows: repeat(3, 1fr);
    //     gap: 0px 0px;
    // }
}