.landing-bg {
    background: url("../../public/landing.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        height: 100vh;

        header {
            
            .sign-in {
                clear: none;
                float: right;
                max-height: none;
                margin-right: 20px;
                margin-top: 10px;

                li {
                    
                    a {
                        padding: 0;
                        border: none;
                        background-color: #e50914;
                        padding: 10px 15px;
                        border-radius: 5px;
                        transition: 0.2s ease-in-out;
                    }

                    a:hover {
                        background-color: rgba(229, 9, 20, 0.7);
                    }
                }
            }
        }

        .black-header {
            background: none;
        }

        .welcome-message {
            grid-column: 1/7;
            grid-row: 2/3;
            color: white;
            text-align: center;
            align-items: center;

            h2 {
                margin-top: 1.5%;
                font-size: 3rem;
                font-weight: bold;
                // margin: 5%;
            } 

            p {
                font-size: 2rem;
                font-weight: 300;
                padding: 1%;
                margin-bottom: 3%;
            }

            a {
                text-decoration: none;
                padding: 0;
                border: none;
                font-size: 1.2rem;
                background-color: #e50914;
                padding: 15px 20px;
                border-radius: 5px;
                transition: 0.2s ease-in-out;
                
            }

            a:hover {
                background-color: rgba(229, 9, 20, 0.7);
            }
        }
    }
}