@media only screen and (max-width: 992px) {
  .login-bg {

    .grid-container {

        grid-template-rows: repeat(6, 1fr);

        .fullwords-logo {
          grid-column: 2/6;
          grid-row: 1/2;
          padding: 5% 30%;
        }

      div {
        grid-column: 2/6;
        grid-row: 2/6;
      }
    }
  }
}

// login.html 768px
@media only screen and (max-width: 768px) {
  .login-bg {
    
    .grid-container {
      // grid-template-columns: 2fr;

      .fullwords-logo {
        grid-column: 2/6;
        grid-row: 1/2;
        padding: 10% 20%;
      }

      div {

        form {
          margin: 5%;
        }
      } 
    }
  }
}

// signup.html 992px
@media only screen and (max-width: 992px) {
  .signup-bg {

    .grid-container {
        grid-template-rows: repeat(6, 1fr);

        .fullwords-logo {
          grid-column: 2/6;
          grid-row: 1/2;
          padding: 5% 30%;
        }

      div {
        grid-column: 2/6;
        grid-row: 2/6;
      }
    }
  }
}

// signup.html 768px
@media only screen and (max-width: 768px) {
  .signup-bg {
    
    .grid-container {
      // grid-template-columns: 1fr;

      .fullwords-logo {
        grid-column: 2/6;
        grid-row: 1/2;
        padding: 10% 20%;
      }

      div {

        form {
          margin: 5%;
        }
      } 
    }
  }
}

// profile.html 992px
@media only screen and (max-width: 992px) {
  .profile-bg {

    .grid-container {
      grid-template-rows: repeat(6, 1fr);

        .fullwords-logo {
          grid-column: 2/6;
          grid-row: 1/2;
          padding: 5% 30%;
        }

        div {

          h2 {
            margin-bottom: 6%;
          }
          
          div {
            margin: 0 3%;
          }
        }

        .manage-profile-btn {
          grid-column: 2/6;
          grid-row: 4/5;
          margin: 0 5%;
        }

        .pin-pad {
          grid-column: 2/6;
          grid-row: 2/5;
        }
      }
    }
  }

// profile.html 768px
@media only screen and (max-width: 768px) {
  .profile-bg {
    
    .grid-container {
      // grid-template-columns: 1fr;

      .fullwords-logo {
        grid-column: 2/6;
        grid-row: 1/2;
        padding: 10% 20%;
      }

      div {

        h2 {
          margin-top: 5%;
          margin-bottom: 10%;
        }
        
        div {
          margin: 0 5%;
        }
      }

      .manage-profile-btn {
        grid-column: 2/6;
        grid-row: 4/5;
        margin: 0 5%;
      }

      .pin-pad {
          grid-column: 2/6;
          grid-row: 2/5;

          h2 {
            margin: 0;
            margin-bottom: 20px;
          }
      }
    }
  }
}


// addprofile.html 992px
@media only screen and (max-width: 992px) {
  .addprofile-bg {

    .grid-container {
        grid-template-rows: repeat(6, 1fr);

        .fullwords-logo {
          grid-column: 2/6;
          grid-row: 1/2;
          padding: 5% 30%;
        }

      div {
        grid-column: 2/6;
        grid-row: 2/6;
      }
    }
  }
}

// addprofile.html 768px
@media only screen and (max-width: 768px) {
  .addprofile-bg {
    
    .grid-container {
      // grid-template-columns: 1fr;

      .fullwords-logo {
        grid-column: 2/6;
        grid-row: 1/2;
        padding: 10% 20%;
      }

      div {

        form {
          margin: 5%;

          h2 {
            margin-top: -5%;
          }
        }
      } 
    }
  }
}

// manageprofile.html 992px
@media only screen and (max-width: 992px) {
  .manageprofile-bg {

    .grid-container {
        grid-template-rows: repeat(6, 1fr);

        .fullwords-logo {
          grid-column: 2/6;
          grid-row: 1/2;
          padding: 5% 30%;
        }

      div {
        grid-column: 2/6;
        grid-row: 2/6;
      }
    }
  }
}

// manageprofile.html 768px
@media only screen and (max-width: 768px) {
  .manageprofile-bg {
    
    .grid-container {
      // grid-template-columns: 1fr;

      .fullwords-logo {
        grid-column: 2/6;
        grid-row: 1/2;
        padding: 10% 20%;
      }

      div {

        form {
          margin: 5%;

          h2 {
            margin-top: -5%;
          }
        }
      } 
    }
  }
}

// index.php 1200px
@media only screen and (max-width: 1200px) {
  body {

    .grid-container-index {
      
      .display-popular, .display-new-releases, .display-1990, .display-1980, .display-1970 {

        h3 {
          // color: white;
          // width: 83%;
          // text-align: left;
          // margin-left: 10%;
          // margin-bottom: 1%;
        }
      }
    }
  }
}

// index.php 992px
@media only screen and (max-width: 992px) {
  body {

    .grid-container-index {

      .landing-description {
        grid-column: 1/5;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        padding: 5%;

        ul {
          margin-bottom: 2%;
          white-space: nowrap;
        }
      }

      .display-popular, .display-new-releases, .display-1990, .display-1980, .display-1970 {

        h3 {
          // color: white;
          // width: 83%;
          // text-align: left;
          // margin-left: 17%;
          // margin-bottom: 2%;
        }
      }
    }
  }
}

// index.php 768px
@media only screen and (max-width: 768px) {
  body {

    .grid-container-index {

      .landing {
        display: none;
      }

      .landing-description {
        grid-column: 1/7;
        border-radius: 0;
        margin: 0;
        margin: 10% 0;
      }

      .display-popular, .display-new-releases, .display-1990, .display-1980, .display-1970 {
        margin-top: 5%;

        h3 {
          // color: white;
          // margin-bottom: 3%;
          // margin-left: 17%;
        }
      }
    }
  }
}
